body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.stopwatch {
    text-align: center;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
    background-color: white;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 37%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 1em;
    cursor: pointer;
    width: 120px;
    height: 45px;
    background: rgb(18, 86, 113);
    color: rgb(51, 50, 50);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.start{
    background-color: rgb(112, 236, 112);
}
.start:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.pause{
    background-color: rgb(136, 237, 235);
}
.pause:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.reset{
    background-color: rgb(243, 111, 119);
}
.reset:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

ul {
    list-style-type: none;
    padding: 0;
}